<nav class="navbar navbar-expand-lg bg-dark fixed-top " data-bs-theme="dark">
  <div class="container my-3">
    <a class="navbar-brand fw-bolder fs-2" routerLink="home">START FRAMEWORK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link  text-uppercase fw-bolder text-light " aria-current="page" routerLink="about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-bolder text-light" routerLink="portflio">portflio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-bolder text-light" routerLink="contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
