<section class="text-center my-5 pt-5">
  <div class="container mt-5 ">
    <h2 class="fw-bolder">CONATCT SECTION</h2>
    <div class="row d-flex align-items-center justify-content-center gx-3">
      <div class="col-md-8 text-center ">
        <input type="text" class="form-control my-2" placeholder="user name" />
        <input type="text" class="form-control my-2" placeholder="user age" />
        <input type="email" class="form-control my-2" placeholder="user email" />
        <input
          type="password"
          class="form-control my-2"
          placeholder="user password"
        />
        <button class="btn btn-info">Submit</button>

      </div>
    </div>
  </div>
</section>
